*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  background-color: #070d2d;
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
}

.content h1 {
  font-size: 3rem;
}

.container {
  width: 60%;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.container_img {
  width: 600%;
  transition: transform 1s ease-in-out;
  display: inline-flex;
}

.container_img > * {
  flex: 1 1 100%;
  margin: 0 10px 0px 0px;
}

.container_img img {
  width: 100%;
  border-radius: 20px;
  filter: grayscale(0.1) brightness(0.9);
}

:root {
  --arrow_size: 3.5rem;
  --toggle-width: 100px;
  --toggle-height: 10px;
}

.left_arrow,
.right_arrow {
  position: absolute;
  font-weight: bolder;
  z-index: 2;
  font-size: var(--arrow_size);
  top: calc(50% - var(--arrow_size) / 2);
}

.left_arrow:hover,
.right_arrow:hover {
  cursor: pointer;
}

.left_arrow {
  left: 20px;
}

.right_arrow {
  right: 20px;
}

.toggle_button {
  width: var(--toggle-width);
  height: var(--toggle-height);
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: calc(50% - var(--toggle-width) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
}

.toggle_button .circle,
.toggle_button .moving_circle {
  width: var(--toggle-height);
  height: var(--toggle-height);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.445);
}

.toggle_button .moving_circle {
  position: absolute;
  background: white;
  transition: transform 0.8s ease-in-out;
}

.toggle_button .circle:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
  .content h1 {
    font-size: 2.5rem;
  }
  :root {
    --arrow_size: 2.5rem;
    --toggle-width: 100px;
    --toggle-height: 12px;
  }
  .content {
    height: 80%;
  }
}
